.register-container{
    display: flex;
    align-items:center ;
    justify-content: center;
    
}
.register-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.register-logo{
    width:250px;
    margin-bottom: 100px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-field{
    display: block;
    text-align: center;
    width: 500px;
    height: 80px;
    border:solid grey 3px;
    border-radius: 15px;
    outline: none;
    font-size: 30px;
    margin-bottom: 12px;




}

.register-button{
    width:180px;
    height:65px;
    margin-top: 40px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    color:rgb(53, 51, 51);
    cursor: pointer;
}


@media (max-width: 1370px) {
    .register-button{
        margin-top: 10px;
    }
    .register-logo{
        width:250px;
        margin-bottom: 40px;
    }

}


@media (max-width: 1200px) {
    .register-button{
        margin-top: 10px;
    }
    .register-logo{
        width:250px;
        margin-bottom: 40px;
    }
    .register-field{
        display: block;
        text-align: center;
        width: 100vw;
        height: 80px;
        border:solid grey 3px;
        border-radius: 15px;
        outline: none;
        font-size: 30px;
        margin-bottom: 12px;
    
    
    
    
    }
    

}