.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    background-color: aliceblue;
    padding:30px;
    border-radius: 15px;
    box-shadow:  2px 2px 2px;
}