*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}


.container{
  width:100vw;
  height:100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.translucent{
  width: 100vw;
  height:100vh;
  background-color: black;
  position: absolute;
  opacity: 60%;
  z-index: 1;

}

form{width: fit-content;}