.header{
    width: 100vw;
    background-color: black;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.header-logo{
    width: 60px;
    position: absolute;
    left: 20px;
}

.navigation-items{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 800px;
}

.navigation-item a{
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
    background-color:black;
    color:white;
    border: solid black 3px;
    text-decoration: none;
    

}
.navigation-item a:hover{
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
    background-color:white;
    color:black;
    border: solid black 2px;
    cursor: pointer;

}


